*{
   margin:0;
   padding:0;
   
}
html,body{
   height: 100%;
   width: 100%;
   background-color: #1f242d;
}
.logo h1{
   color: white;
   font-weight: 600;
   font-size: 30px;
   color: green;
}

nav{
   
   padding: 10px 30px;
   display: flex;
   text-align: center;
   justify-content: space-between;
   
   
   
   
}
ul{
   list-style-type: none;
   display: flex;
   gap: 50px;
}
ul li {
   text-decoration: none;
   
}
ul li a {
   text-decoration: none;
   color:white;
   font-size: 20px;
   font-weight: 400;
   
}
ul li a:hover{
   color:green;
}
ul li .active{
   color:green;
}
.home{
    display: flex;
    align-items: center;
    height: 70vh;
    padding: 60px;
    color: white;
}
   
.contentet h1{
   
   font-size: 55px;
}
.contentet h2{
   font-size: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.contentet p{
   font-size: 16px;
   
}
.box{

   position: relative;
   width:50vw;
   height: 30vw;
   border-color: green;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   overflow: hidden;
}
.img{
   position: absolute;
display: block;
border-color: green;
box-sizing: border-box;
border:green;
}
.icon{
   display:flex;
   text-align: center;
   justify-content: center;
   margin-top: 30px;
   gap: 35px;
}
.fa-square-twitter{
   font-size: 50px;
   margin-left: 10px;
}
.fa-square-x-twitter{
   font-size: 50px;
  
}
.fa-square-instagram{
font-size: 50px;
}
.fa-linkedin{
font-size: 50px;
}
